name: Psalm Security Scan

# Cancel in-progress workflows when a new workflow is created. Should only apply to PRs.
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.run_id }}
  cancel-in-progress: true

env:
  DOCKER_DRIVER: overlay
  rIds: ${{ secrets.rIds }}
  phpVersion: '7.4.9'

on:
  push:
    branches: [ master ]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ master ]

jobs:
  psalm:
    name: Psalm
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup PHP with composer v2
        uses: shivammathur/setup-php@v2
        with:
          php-version: '${{ env.phpVersion }}'
          tools: composer:v2

      # - name: Psalm Security Scan
      #   uses: docker://ghcr.io/psalm/psalm-github-actions
      #   with:
      #     security_analysis: true
      #     report_file: results.sarif
      #     composer_require_dev: true
      #     php-version: ${{ env.phpVersion }}
      - name: Remove composer files
        run: rm -f composer.json composer.lock

      - name: Install Psalm globally
        run: composer global require vimeo/psalm

      # - name: help psalm
      #   run: psalm --help

      - name: Run psalm
        run: psalm --output-format=github
      
      # - name: Run psalm
      #   run: ./vendor/bin/psalm --output-format=github

      - name: Run Psalm with SARIF output
        run: psalm --output-format=sarif --report=results.sarif
        
      - name: Upload Security Analysis results to GitHub
        uses: github/codeql-action/upload-sarif@v1
        with:
          sarif_file: results.sarif

      - uses: actions/upload-artifact@v4
        with:
          name: psalm_results
          path: results.sarif